/* Genel sayfa ayarları */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  border-bottom: 3px solid #444;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navigation-section .logo-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navigation-section ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation-section ul li {
  margin: 0 15px;
}

.navigation-section ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.address-section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.address-section ul li {
  margin: 10px 0;
}

.address-section ul li a {
  text-decoration: none;
  color: #333;
}

.hero-section {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
}

.hero-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-section .button {
  background: #333;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
}

.features-section,
.team-section,
.portfolio-section {
  padding: 40px 20px;
  background: #fff;
  margin-bottom: 20px;
}

.features-section h2,
.team-section h2,
.portfolio-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.features-section ul,
.team-section ul,
.portfolio-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-section li,
.team-section li,
.portfolio-section li {
  flex: 1 1 45%;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features-section h3,
.team-section h3,
.portfolio-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-section .logo-title {
  color: #fff;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}
