body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455; /* Metin rengini belirtmek için color: #434455 stili */
  text-decoration: none;
}

a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

header nav a.logo-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
}

header nav a.logo-title .studio {
  color: #2e2f42;
}

header .nav-link {
  color: #434455; /* Listedeki 2. ve 3. maddeye uygun */
}

header .address-section {
  font-style: normal;
}

.hero-section {
  background-color: #2e2f42;
  text-align: center;
}

.hero-section h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-section .order-service-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-section .order-service-button:hover,
.hero-section .order-service-button:focus {
  background-color: #404bbf;
}

.features-section {
  background-color: #f4f4fd; /* Üçüncü section */
}

.features-section h2 {
  font-size: 36px; /* Üçüncü section */
  line-height: 1.11; /* Üçüncü section */
  text-align: center; /* Üçüncü section */
  letter-spacing: 0.02em; /* Üçüncü section */
  text-transform: capitalize; /* Üçüncü section */
  color: #2e2f42; /* Üçüncü section */
}

.features-section li {
  background-color: #ffffff; /* Üçüncü section */
}

.team-section h2,
.portfolio-section h2 {
  font-size: 36px; /* Dördüncü section */
  line-height: 1.11; /* Dördüncü section */
  text-align: center; /* Dördüncü section */
  letter-spacing: 0.02em; /* Dördüncü section */
  text-transform: capitalize; /* Dördüncü section */
  color: #2e2f42; /* Dördüncü section */
}

.footer-section {
  background-color: #2e2f42;
}

.footer-section a.logo-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
}

.footer-section a.logo-title .studio {
  color: #2e2f42;
}

.footer-section p.footer-description {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-section .studio {
  color: #2e2f42; /* Footer kontrolü */
}
